@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --text-color: #ffffff;
    --back-1-color: #171a1e;
    --back-2-color: #384659;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background: var(--back-1-color);
    color: var(--text-color);
}

html,
body,
#root {
    height: 100vh;
}
